/*
Wrapper for the whole plugin
*/
.fs-wrapper
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}
.fs-wrapper:after
{
    display: table;
    content: " ";
    clear: both;
}
.fs-wrapper *,
.fs-wrapper *:before,
.fs-wrapper *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fs-wrapper table
{
    margin: 0;
    padding: 0;
    border: 0;
}

/*
Wrapper for selector table
*/
.fs-selector-wrapper
{
    width: 50%;
    float: left;
    border: 1px #aaa solid;
    background-color: #fff;
}

/*
Wrapper for selected tables / divs
*/
.fs-selected-wrapper
{
    width: 50%;
    border: 1px #aaa solid;
    border-left: 0;
    padding: 0;
    margin: 0;
    float: left;
    background-color: #fff;
}

/*
    Wrapper around both selector and selected tables to set right hight, and to make them scroll
 */
.fs-scroll-wrapper
{
    height: 300px;
    overflow-y: scroll;
}

/*
Styles for the beardcrumbs on top of the tables
*/
.fs-breadcrumbs-wrapper
{
    width: 100%;
    min-height: 20px;
    border: 1px #aaa solid;
    border-bottom: 0;
    font-size: 12px;
}
.fs-table-breadcrumbs
{
    min-height: 20px;
    border-collapse: collapse;
}
.fs-td-breadcrumb-home
{
    cursor: pointer;
}
.fs-td-breadcrumb,
.fs-td-breadcrumb-current
{
    cursor: pointer;
    border-left: 1px #eee solid;
    padding: 1px 7px 0;
    vertical-align: middle;
}
.fs-td-breadcrumb:hover,
.fs-td-breadcrumb-current:hover
{
    /*
        Double border is a hack
        so that this border overwrites
        neighbor borders as well
    */
    border-left: 1px lightskyblue double;
    border-right: 1px lightskyblue double;
    background: -ms-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: -moz-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: -o-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #f4ffff), color-stop(1, #e5ffff));
    background: -webkit-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: linear-gradient(to bottom, #f4ffff 50%, #e5ffff 100%);
}
.fs-td-breadcrumb-current
{
    cursor: pointer;
    border-left: 1px #eee solid;
    padding: 1px 7px 0;
    vertical-align: middle;
}
.fs-td-breadcrumb-current:hover
{
    /*
        Double border is a hack
        so that this border overwrites
        neighbor borders as well
    */
    border-left: 1px lightskyblue double;
    border-right: 1px lightskyblue double;
    background: -ms-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: -moz-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: -o-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #f4ffff), color-stop(1, #e5ffff));
    background: -webkit-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: linear-gradient(to bottom, #f4ffff 50%, #e5ffff 100%);
}

/*
Styles for the two scrollable tables
*/
.fs-table
{
    width: 100%;
    text-align: left;
    border-collapse: separate;
}
.fs-table td,
.fs-table th
{
    padding: 0;
    padding-left: 3px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.fs-table thead tr
{
    border-bottom: 1px #eee solid;
}

.fs-table tbody tr
{
}

.fs-table thead th
{
    border-right: 1px #eee solid;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.fs-table thead th:last-child
{
    border-right: 0;
}

/*
Different styles for selectables / openables
*/
.fs-tr-folder-selectable
{
    cursor: pointer;
}
.fs-tr-folder-not-selectable
{
    color: #999;
}
.fs-tr-item-selectable
{
    cursor: pointer;
}
.fs-tr-item-not-selectable
{
    color: #999;
}

.fs-tr-item-selected
{
    display: none;
}

.fs-tr-item-removable
{
    cursor: pointer;
}

/*
The headers with breadcrumbs in the selected table
*/
.fs-div-folder-removable
{
    width: 100%;
    cursor: pointer;
    border-bottom: 1px #aaa solid;
    border-top: 1px #aaa solid;
    vertical-align: middle;
    padding-top: 1px;
    /*background-color: #f9fef9;*/
    font-size: 12px;
}
.fs-div-folder-removable-text
{
    height: 18px;
    line-height: 18px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}

.fs-tr-item-selectable:hover,
.fs-tr-item-removable:hover,
.fs-tr-folder-selectable:hover,
.fs-div-folder-removable:hover
{
    background-color: #f4ffff;
    background: -ms-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: -moz-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: -o-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #f4ffff), color-stop(1, #e5ffff));
    background: -webkit-linear-gradient(top, #f4ffff 50%, #e5ffff 100%);
    background: linear-gradient(to bottom, #f4ffff 50%, #e5ffff 100%);
}
.fs-tr-item-selectable:hover td,
.fs-tr-item-removable:hover td,
.fs-tr-folder-selectable:hover td,
.fs-div-folder-removable:hover
{
    border-bottom: 1px lightskyblue solid;
    border-top: 1px lightskyblue solid;
}

/*
Styles for the different icons
*/
.fs-td-icon
{
    width: 20px;
}
.fs-icon-home
{
    background:url('application_home.png') center center no-repeat;
}

.breadcrumb-separator {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    width: 0;
    margin-left: 5px;
    margin-right: 5px;
}